@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url("https://fonts.googleapis.com/css?family=Raleway");




* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body {
  font-family: "Raleway", sans-serif;
  background: #f2f2f2;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  overflow: hidden;
}


img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
  color: #f0f0f0;
}


.inter {
  /** Css des barre entre partie**/
  position: relative;
  height: 60px;
  z-index: 1;
  background: #333;
  box-shadow: 8px 15px 20px rgba(0, 0, 0, 0.19), 4px 6px 10px rgba(0, 0, 0, 0.23);
}





.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  padding-top: 50px;
  background-color: white;
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 5;
}

.background:nth-child(2) {
  z-index: 4;
  background-image: url(../picture/about.png);
}

.background:nth-child(3) {
  z-index: 3;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.content-title {
  font-size: 12vh;
  line-height: 1.4;
}

.up-scroll {
  transform: translate(0, 0);
}
.down-scroll {
  transform: translate(0, -100vh);
}



.container{
}
/************ CSS HEADER *************/
header {
    background: #082146;
    width: 100%;
    position: fixed;
    z-index: 10;
  }

  header .container {
    margin-left: 10%;
    padding: 10px 10px;
    width: 88%;
    overflow: hidden;
  } 

  header .container ul {
    font-size:24.96px;
    margin: 0;
    padding: 0;
  }

  header .container ul li {
    list-style: none;
    display: inline;
    padding: 0 10px 0 10px;
  }

  header .container ul li a {
    color: #fcfffe;
    text-decoration: none;
    transition: 400ms;
  }

  header .container ul li a:hover {
    color: #7c7c7c;
  }

  header .container h1 {
    font-size: 32px;
    color: #fcfffe;
    font-weight: 300;
    margin: 0;
    float: left;
  }
  .icon_title{
    padding-left: 10px;
  }
  header .container #nav {
    float: right;
    margin-top: 5px;
  }

  .scroll {
    cursor: pointer;
  }


/************ CSS ACCUEIL **************/
#intro {
    height: 100%;
    width: 100%;
    padding-top: 45vh;
  }

  #showcase {
    height: inherit;
    color: #fcfffe;
    padding: 0;
    margin-bottom: 0px;
    text-align: center;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #showcase .myPara #title {
    position: fixed;
  } 

  .scroll-arrow{
    width: 100%;
    bottom: 25px;
    position: absolute;
  }
  .arrow {
    pointer-events: none;
    border-color:transparent;
    border-style:solid;
    border-width:0 2em;
    display:block;
    margin: auto;
    width: 0;
  }
  .down {
    -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
    border-top:2em solid #00b6f1;
  }
  @-webkit-keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(15px); opacity: 0.9 }
  }
  
  
  
/******** CSS ABOUT *********/

#about {
    padding: 10px;
    font-size: 1.1em;
    position: relative;
    height: inherit;
  }

#about h1 {
    margin-top: 25px;
    text-align: center;
    font-size: 2em;
    color: #222;
    text-shadow: 8px 15px 20px rgba(0, 0, 0, 0.19), 4px 6px 10px rgba(0, 0, 0, 0.23);
    margin-bottom: 5vh;
  }

#about .about-text {
    padding: 0 40px 0px 40px;
    text-align: justify;
    color: #222;
    font-size: 2vh;
    margin: auto;
    text-shadow: 0px 5px 60px rgba(0, 0, 0, 0.19), 0px 1.5px 1.5px rgba(0, 0, 0, 0.23);
  }

/**********CSS SKILLS ************/
  
#container_skill{
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .skill-card {
    flex: 0 0 auto;
    z-index: 1;
    margin: 20px;
    width: 300px;
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
  }
  #Skill-Web .skill-card__icon{
    background: url("../picture/Web.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  #Skill-OOP .skill-card__icon{
    background: url("../picture/OOP.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  #Skill-DB .skill-card__icon{
    background: url("../picture/DB.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  #Skill-Com .skill-card__icon{
    background: url("../picture/communication.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  #Skill-Lang .skill-card__icon{
    background: url("../picture/langue.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  h2{
    margin:0px;
  }
  .skill-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  
  .skill-card .skill-card__body .skill-card__star{
    text-align: center;
    font-size: 150%;
    position: absolute;
    bottom:0;
    margin: auto;
    width: 100%;
    color: orange;
  }
  .skill-card .skill-card__header {
    position: relative;
    height: 115px;
    transition: height 0.5s;
    overflow: hidden;
  }
  .skill-card .skill-card__header .skill-card__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);

    width: 256px;
    height: 200px;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .skill-card .skill-card__header .skill-card__icon_Com {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);

    width: 256px;
    height: 200px;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .skill-card .skill-card__body {
    height: 115px;
    margin: 20px;
    transition: height 0.5s;
    overflow: hidden;
    position: relative;
  }
  .skill-card .skill-card__body .skill-card__title {
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
  }
  .skill-card .skill-card__body .skill-card__duration {
    color: #9E9E9E;
    font-style: italic;
  }
  .skill-card .skill-card__body .skill-card__knowledge {
    margin-top: 10px;
    color: #424242;
  }
  


  #Header_Web{
    background-color: #333;
  }
  #Header_Oop{
    background-color: #333;
  }
  #Header_Db{
    background-color: #333;
  }
  #Header_Com{
    background-color: #333;
  }
  #Header_MSql{
    background-color: #333;
  }





  /*********** CSS Project ************/
   
#projects {
    position: relative;
    height: inherit;
    width: inherit;
    
  }
  #projects h1 {
    margin-top: 25px;
    text-align: center;
    font-size: 2em;
    color: #222;
    text-shadow: 8px 15px 20px rgba(0, 0, 0, 0.19), 4px 6px 10px rgba(0, 0, 0, 0.23);
    margin-bottom: 5vh;
  }
  #projects #project-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.4s ease;
    opacity: 0;
    overflow: hidden;
    height: 0;
  }
  
  #projects .subtitle{
    margin-left: 5vw;
  }
  
  .scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    scrollbar-width: none;
    height: 40%;
  }
  
  .scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  .card {
    flex: 0 0 auto;
    width: 20%;
    max-width: 325px;
    min-width: 250px;
    height: 95%;
    min-height: 275px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 9px 9px rgba(0, 0, 0);
    transition: all 0.4s ease;
  }
  .card:hover {
    cursor: pointer;
    box-shadow:  10px 10px 10px rgb(21, 154, 187);
  }
  .card.selected {
    box-shadow:  10px 10px 15px rgb(21, 154, 187);
  }
  .card.first-card {
    margin-left: 5vw;
  }
  
  #last-card {
    flex: 0 0 auto;
    width: 5vw;
    height: 300px;
    background-color: transparent;
  }
  #urubu {
    background: url("../picture/Urubu.png");
    background-size: cover;
    background-position: center;
  }
  #hellmansion {
    background: url("../picture/HellMansion.png");
    background-size: cover;
    background-position: center;
  }
  #moonstone {
    background: url("../picture/Moonstone.png");
    background-size: cover;
    background-position: center;
  }
  
  #gladiaball {
    background: url("../picture/Gladiaball.png");
    background-size: cover;
    background-position: right;
  }
  
  #blowbug {
    background: url("../picture/BlowTheBug.png");
    background-size: cover;
    background-position: center;
  }
  
  #portfolio {
    background: url("../picture/moi03.png");
    background-size: 110%;
    background-position: top;
  }
  
  #purge {
    background: url("../picture/Purge.png");
    background-size: cover;
    background-position: center;
  }

  #CHANGE {
    background: url("../picture/CHANGE.png");
    background-size: cover;
    background-position: center;
  }
  #project-details {
    max-width: 1000px;
    margin: 20px 60px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
  }
  #project-details #project-name a{
    color: #222;;
    font-size: 2.5vh;
  }
  #project-details #project-name a:hover{
    color: White;
  }
  #project-details #project-subname {
    font-style: italic;
    font-size: 1.8vh;
  }
  #project-details #project-description {
    margin-top: 15px;
    text-align: center;
    font-size: 2vh;
  }
  #project-details #project-description #battle-drive-link {
    font-weight: bold;
    transition: all 0.4s ease;
  }
  #project-details #project-description #battle-drive-link:hover {
    color: skyblue;;
  }
  #project-details #technos, #project-details #images {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #project-details #technos::after, #project-details #technos::before {
    content: "";
    width: 100px;
    height: 2px;
    border-radius: 1px;
    background-color: #52e0c0;
  }
  #project-details ul#technos-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 15px;
  }
  #project-details ul#technos-list li {
    background-color:#333;
    color: ghostwhite;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    font-weight: 600;
    font-size: 18px;
  }
  
  #project-details #images #images-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #project-details #images #images-list img {
    object-fit: cover;
    width: 130px;
    height: 130px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    margin: 10px;
    transition: all 0.4s ease;
  }
  #project-details #images #images-list img:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }



  
/************** CSS Work Experience ***************/
  #parallax4{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  #education {
    position: relative;
    display: block;
    z-index: 2;
    height: 100%;
  }


  #education h1 {
    margin-top: 25px;
    text-align: center;
    font-size: 2em;
    color: #222;
    text-shadow: 8px 15px 20px rgba(0, 0, 0, 0.19), 4px 6px 10px rgba(0, 0, 0, 0.23);
    margin-bottom: 5vh;
  }
  .row:before,
  .row:after {
    content: "";
    display: table;
  }

  .headerLine {
    width: 160px;
    height: 2px;
    display: inline-block;
    background: #101F2E;
  }

  .fullWidth {
    width: 100%;
    display: table;
    float: none;
    padding: 0;
    min-height: 1px;
    height: 100%;
    position: relative;
  }
  .timeline {
      position: relative;
      padding: 0;
      width: 100%;
      margin-top: 20px;
      list-style-type: none;
  }
  
  .timeline:before {
      position: absolute;
      left: 50%;
      top: 0;
      content: ' ';
      display: block;
      width: 2px;
      height: 100%;
      margin-left: -1px;
      background: rgb(213,213,213);
      background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
      background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
      background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
      background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
      background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
      z-index: 5;
  }
  
  .timeline li {
      padding: 2vh 0;
  }
  
  .timeline .hexa{
      width: 16px;
      height: 10px;
      position: absolute;
      background: #6695F2;
      z-index: 5;
      left: 0;
      right: 0;
      margin-left:auto;
      margin-right:auto;
      top: -30px;
      margin-top: 0;
  }
  
  .timeline .hexa:before {
      border-bottom: 4px solid #6695F2;
      border-left-width: 8px;
      border-right-width: 8px;
      top: -4px;
  }
  
  .timeline .hexa:after {
      border-left-width: 8px;
      border-right-width: 8px;
      border-top: 4px solid #6695F2;
      bottom: -4px;
  }

  .direction-l,
  .direction-r {
      float: none;
      width: 100%;
      text-align: center;
  }
  
  .flag-wrapper {
      text-align: center;
      position: relative;
  }
  
  .flag {
      position: relative;
      display: inline;
      background: rgb(255,255,255);
      font-weight: 600;
      z-index: 15;
      padding: 6px 10px;
      text-align: left;
      border-radius: 5px;
  }
  
  .direction-l .flag:after,
  .direction-r .flag:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -15px;
      height: 0;
      width: 0;
      margin-left: -8px;
      border: solid transparent;
      border-bottom-color: rgb(255,255,255);
      border-width: 8px;
      pointer-events: none;
  }
  
  .direction-l .flag {
      -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
      -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
      box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-r .flag {
      -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
      -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
      box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .time-wrapper {
      display: block;
      position: relative;
      margin: 4px 0 0 0;
      z-index: 14;
      line-height: 1em;
      color: #fff;
  }
  
  .direction-l .time-wrapper {
      float: none;
  }
  
  .direction-r .time-wrapper {
      float: none;
  }
  
  .time {
      background: #6695F2;
      display: inline-block;
      padding: 6px!important;
  }
  
  .desc {
      position: relative;
      margin: 1em 0 0 0;
      padding: 1em;
      background: rgb(254,254,254);
      -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      box-shadow: 0 0 1px rgba(0,0,0,0.20);
      z-index: 15;
  }
  
  .direction-l .desc,
  .direction-r .desc {
      position: relative;
      margin: 1em 1em 0 1em;
      padding: 1em;
      z-index: 15;
    
  }
  
  @media(min-width: 768px){
      .timeline {
          width: 1040px;;
          margin: 0 auto;
          margin-top: 20px;
      }
  
      .timeline li:after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden;
      }
  
      .timeline .hexa {
          left: -28px;
          right: auto;
          top: 8px;
      }
  
      .timeline .direction-l .hexa {
          left: auto;
          right: -28px;
      }
  
      .direction-l {
          position: relative;
          width: 500px;
          float: left;
          text-align: right;
      }
  
      .direction-r {
          position: relative;
          width: 500px;
          float: right;
          text-align: left;
      }
  
      .flag-wrapper {
          display: inline-block;
      }
  
      .flag {
          font-size: 18px;
      }
  
      .direction-l .flag:after {
          left: auto;
          right: -16px;
          top: 50%;
          margin-top: -8px;
          border: solid transparent;
          border-left-color: rgb(254,254,254);
          border-width: 8px;
      }
  
      .direction-r .flag:after {
          top: 50%;
          margin-top: -8px;
          border: solid transparent;
          border-right-color: rgb(254,254,254);
          border-width: 8px;
          left: -8px;
      }
  
      .time-wrapper {
          display: inline;
          vertical-align: middle;
          margin: 0;
      }
  
      .direction-l .time-wrapper {
          float: left;
      }
  
      .direction-r .time-wrapper {
          float: right;
      }
  
      .time {
          padding: 5px 10px;
      }
  
      .direction-r .desc {
          margin: 1em 0 0 0.75em;
      }
  }
    
